* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100vh;
  font-size: 14px;
}


  body {
    height: 100%;
    background: rgb(0,206,209);
background: linear-gradient(111deg, rgba(0,206,209,1) 37%, rgba(245,222,179,1) 92%);
  }

.container {
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #BDFF00;
}

a {
  text-decoration: none;
  color: #BDFF00;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

header img {
  margin-top: auto;
  max-width: 170px;
  margin-bottom: 20px;
  border-radius: 12px;
}

header {
  font-size: 0.7em;
  margin-bottom: 60px;
  color: #BDFF00;
  font-weight: 900;
}

header p {
  text-align: center;
  color: white;
}

section.botoes-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.link button {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 12px;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  transition: .2s;
  background: rgba(255, 255, 255, 0.1); /* Slight transparency */
  backdrop-filter: blur(60px); /* Background blur */
  -webkit-backdrop-filter: blur(1px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border to enhance glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

a.link i {
  font-size: 2em;
  color: #BDFF00;
}

a.link button:hover {
  transform: scale(1.05);
}
